<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Play with GO Lang</title>
    <style>
        .container {
            padding:3em 100px
        }
        .container .content {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        {{range $val := .}}
            <div class="content">
                <a href="/blogs/{{.ID}}">{{.Title}}</a>
                <button>Edit</button>
                <button>Delete</button>
            </div>
       {{end}}
    </div>
</body>
</html>